  <h2>Users </h2>

  <% paginate @users %>

  <% @users.each do |user| %>
    <p>User First Name: <%= user.firstname %></p>
    <p>User Last Name: <%= user.lastname %></p>
    <p>User email: <%= link_to user.email, admin_user_path(user) %></p>
    <p>Password: <%= user.password_digest %></p>
    <hr>
  <% end %>
