  <% @users.each do |user| %>
    <p>User First Name: <%= user.firstname %></p>
    <p>User Last Name: <%= user.lastname %></p>
    <p>User email: <%= user.email %></p>
    <p>Password: <%= user.password_digest %></p>
    <hr>
  <% end %>
